<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPENDERS</key>
	<array>
		<dict>
			<key>colors</key>
			<true/>
			<key>encoders</key>
			<dict>
				<key>pattern</key>
				<array>
					<string></string>
				</array>
			</dict>
			<key>name</key>
			<string>console</string>
			<key>class</key>
			<string>VMLogger.ConsoleLogAppender</string>
		</dict>
		<dict>
			<key>name</key>
			<string>file</string>
			<key>class</key>
			<string>VMLogger.FileLogAppend</string>
			<key>fileName</key>
			<string>log.txt</string>
		</dict>
	</array>
	<key>LOGGER_LEVEL</key>
	<string>error</string>
	<key>LOGGER_APPENDERS</key>
	<array>
		<string>console</string>
	</array>
	<key>LOGGER_CONFIG</key>
	<dict>
		<key>Router</key>
		<dict>
			<key>appenders</key>
			<array>
				<string>file</string>
			</array>
			<key>level</key>
			<string>debug</string>
			<key>additivity</key>
			<true/>
		</dict>
		<key>jork</key>
		<dict>
			<key>appenders</key>
			<array>
				<string>file</string>
			</array>
			<key>level</key>
			<string>error</string>
			<key>additivity</key>
			<true/>
		</dict>
		<key>jork.Analytics</key>
		<dict>
			<key>level</key>
			<string>error</string>
			<key>additivity</key>
			<true/>
		</dict>
		<key>zucredApple</key>
		<dict>
			<key>level</key>
			<string>error</string>
			<key>additivity</key>
			<true/>
		</dict>
		<key>zucredApple.AppModel</key>
		<dict>
			<key>level</key>
			<string>error</string>
			<key>additivity</key>
			<true/>
		</dict>
		<key>zucredApple.AppScanner</key>
		<dict>
			<key>level</key>
			<string>error</string>
			<key>additivity</key>
			<true/>
		</dict>
		<key>zucredApple.AppProperties</key>
		<dict>
			<key>level</key>
			<string>error</string>
			<key>additivity</key>
			<true/>
		</dict>
		<key>zucredApple.AppPosition</key>
		<dict>
			<key>level</key>
			<string>error</string>
			<key>additivity</key>
			<true/>
		</dict>
		<key>zucredApple.AppAudio</key>
		<dict>
			<key>level</key>
			<string>error</string>
			<key>additivity</key>
			<true/>
		</dict>
		<key>zucredApple.AppDB</key>
		<dict>
			<key>level</key>
			<string>error</string>
			<key>additivity</key>
			<true/>
		</dict>
	</dict>
	<key>APP_ID</key>
	<string>1063049904</string>
</dict>
</plist>
